    <h1 class="mt-5 mb-3">Cadastro de Notebook</h1>
    <div class="row">
        <div class="col-4 mb-3">
            <div class="input-group has-validation">
                <span class="input-group-text"><i class="fa-solid fa-file-signature"></i></span>
                <div class="form-floating">
                    <input type="number" class="form-control" id="numero" placeholder="Número" required>
                    <label for="numero">Número</label>
                </div>
                <div class="invalid-feedback">
                    Por favor informe o Número do notebook.
                </div>
            </div>
        </div>
        <div class="col-8 mb-3">
            <div class="input-group has-validation">
                <span class="input-group-text"><i class="fa-solid fa-barcode"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="patrimonio" placeholder="Número de Patrimônio" required>
                    <label for="patrimonio">Número de Patrimônio</label>
                </div>
                <div class="invalid-feedback">
                    Por favor informe o Patrimônio.
                </div>
            </div>
        </div>
    </div>
    <button id="enviar" class="btn btn-lg btn-primary">Cadastrar</button>