<div class="row">
    <div class="col-5">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-signature"></i></span>
            <div class="form-floating">
                <input type="text" class="form-control" id="novoNome" placeholder="Nome" required>
                <label for="novoNome">Insira o novo Nome</label>
            </div>
            <div class="invalid-feedback">
                Por favor informe o novo Nome.
            </div>
        </div>
    </div>
    <div class="col-7">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
            <div class="form-floating">
                <input type="text" class="form-control" id="novoEmail" placeholder="E-mail" required>
                <label for="novoEmail">E-mail</label>
            </div>
            <div class="invalid-feedback">
                Por favor informe o novo E-mail.
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
            <div class="form-floating">
                <input type="number" class="form-control" id="senhaAtual" placeholder="SenhaAtual" required>
                <label for="senhaAtual">Senha Atual</label>
            </div>
            <div class="invalid-feedback">
                Por favor informe a Senha Atual.
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
            <div class="form-floating">
                <input type="password" class="form-control" id="senhaNova" placeholder="Senha" required>
                <label for="senhaNova">Senha Nova</label>
            </div>
            <div class="invalid-feedback">
                Por favor informe a Senha Nova.
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="input-group has-validation">
            <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
            <div class="form-floating">
                <input type="password" class="form-control" id="confirmaSenhaNova" placeholder="Confirme Sua Senha" required>
                <label for="confirmaSenhaNova">Confirme sua Senha Nova</label>
            </div>
            <div class="invalid-feedback">
                Por favor informe a confirmação de senha atual idêntica.
            </div>
        </div>
    </div>
</div>
<button id="enviar" class="btn btn-lg btn-primary">Alterar</button>